body {
    background: #000000;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
* {
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Segoe UI", Arial, sans-serif;
    align-items: center;
    text-align: center;
}
